    table, tr, td {
        border: 1px solid white;
        color: aliceblue;
    }
    table {
        top: 150px;
        margin-left: 320px;
        border-collapse: collapse;
        position: relative;
        
    }
    tr {
        text-align: center;
        font-size: 50px;
        font-family: 'Work Sans', sans-serif;
        height: 20px;
    }
    th {
        font-size: 24px;
    }
    td a{
        color: rgb(237, 53, 53);
        padding: 10px;
    }
    tr a:hover{
        background-color: rgb(177, 206, 255);
    }

   