    body{
        background-color:rgb(12, 19, 37);
        }

    .color {
        color: rgb(191, 1, 189);
        font-family: 'Work Sans', sans-serif;
        }

    .defaultText{
        color: rgb(255, 255, 255);
        font-family: 'Work Sans', sans-serif;
        }

    #textedit{
        top: 50%;
        left: 50%;
        text-align: right;
    }

        .topnav {
            background-color: rgb(16, 25, 37);
            overflow: hidden;

        }
          .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            font-family: 'Work Sans', sans-serif;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
          
        .topnav a.active {
            background-color: rgb(36, 1, 239);
            color: rgb(0, 0, 0);
        }
    .PP{
        width: 100px;
        height: 200px;
        float: center;
        padding:10px;
        }

    #middle {
        margin-top: 100px;
        margin-left: 210px;
        width: 360px;
        height: 350px;
        padding: 10px;
        background-color: rgb(40, 24, 74);
        border-radius: 30px;
        position: absolute;
        }
    #right{
        float: right;
    }
    .textbox{
        width: 550px;
        height: 400px;
        padding: 10px;
        right: 10px;
    }


.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #514 transparent transparent transparent;
  }
  